@model MarketSG.Model.Entities.Role

@{
    ViewData["Title"] = "Xác nhận xóa quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-action="Index">Danh sách</a>
            <span class="breadcrumb-item active">Xác nhận xóa quyền truy cập</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Xác nhận xóa quyền truy cập</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.RoleId</td>
                    </tr>
                    <tr>
                        <td>Tên:</td>
                        <td>@Model.RoleName</td>
                    </tr>
                    <tr>
                        <td>Mô Tả:</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>
                            <form asp-action="Delete" asp-route-id="@Model.RoleId">
                                <input type="hidden" asp-for="RoleId" />
                                <input type="submit" value="Xác Nhận Xóa" class="btn btn-danger" />
                            </form>
                        </td>
                        <td><a class="btn btn-default m-r-5" asp-action="Index">Back to List</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

